.case {
    -fx-background-color: #F6F4F4;
    -fx-background-radius: 10px;
}

.case:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.fond {
    -fx-background-color: white;
}

.barre-recherche {
    -fx-background-color: #F6F4F4;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: black;
}
